<p id="notice"><%= notice %></p>

<h1>Pizzas</h1>

<table>
  <thead>
      <tr>
       <td>Noms</td>
       <td>Adresse</td>
       <td>Url</td>>
      <td colspan="6"></td>
      </tr>
  </thead>
  
  <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.Noms %></td>
        <td><%= order.Adresse %></td>
        <td> <%= order.Url%> </td>
      </tr>
    <% end %> 
  </tbody>
</table>

<br>