<p id="notice"><%= notice %></p>

<h1>COMMANDES</h1>

<table>
  <thead>
      <tr>
       <td>Noms</td>
       <td>Adress</td>
       <td>Url</td>>
      <td colspan="3"></td>
      </tr>
  </thead>

  <tbody>
      <tr>
         <td> <% @test.each do |orders| %>
             <p><%= orders.name %></p>
             <p><%= orders.address %></p>
             <p><%= orders.url %></p>
             <% end %>
        </td>
      </tr>
  </tbody>
</table>

<br>